* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grad1 {
  background: -webkit-gradient(linear, left top, right top, from(#f32170), color-stop(#ff6b08), color-stop(#cf23cf), to(#eedd44));
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.grad1-opp {
  background: -webkit-gradient(linear, left top, right top, from(#eedd44), color-stop(#cf23cf), color-stop(#ff6b08), to(#f32170));
  background: linear-gradient(to right, #eedd44, #cf23cf, #ff6b08, #f32170);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.purple {
  color: #f39aff;
}

.pink {
  color: pink;
}

body {
  background-color: #161616;
  color: white;
}

@media (min-width: 760px) {
  body {
    font-size: 1.5em;
  }
}

main {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  font-family: "Sansita Swashed", cursive;
  margin-bottom: 1em;
}

@media (min-width: 1024px) {
  main {
    height: 100vh;
    width: 100%;
    background: url("./cover.jpg") no-repeat center -100px;
    background-size: cover;
    position: relative;
  }
}

main .wish {
  color: white;
  text-align: center;
  padding: 1em;
}

@media (min-width: 1024px) {
  main .wish {
    text-align: unset;
  }
}

main h1 {
  font-size: 2.4em;
}

main h1 + h1 {
  font-size: 1.7em;
}

main #cover-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0;
}

@media (min-width: 1024px) {
  main #cover-mobile {
    display: none;
  }
}

main #cover-mobile img {
  width: 75vw;
  border-radius: 20px;
}

.best {
  color: #e9ff99;
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.best span {
  font-size: 1.15em;
}

@media (min-width: 1024px) {
  #text {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0)), color-stop(rgba(22, 22, 22, 0.644)), to(#161616));
    background: linear-gradient(rgba(22, 22, 22, 0), rgba(22, 22, 22, 0.644), #161616);
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 3em;
    padding-bottom: 6em;
  }
}

#static-text {
  display: block;
}

#dynamic-text {
  color: #9affdb;
}

.cursor {
  display: inline-block;
  background-color: white;
  width: 2px;
}

.blink {
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  49.9% {
    background-color: white;
  }
  50% {
    background-color: transparent;
  }
  99.9% {
    background-color: transparent;
  }
}

@keyframes blink {
  49.9% {
    background-color: white;
  }
  50% {
    background-color: transparent;
  }
  99.9% {
    background-color: transparent;
  }
}

.pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pic img {
  width: 75vw;
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .pic img {
    width: 23em;
    margin-right: 3em;
  }
}

section.quote-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d4d4d4;
  margin-top: 50px;
  padding: 70px 0;
}

@media (min-width: 1024px) {
  section.quote-sec {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 70px 3em;
  }
}

section.quote-sec .quote {
  font-family: "Sansita Swashed", cursive;
  margin: 0 30px;
  margin-top: 32px;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.15em;
}

section#quote-sec-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(#7b25c2), to(#161616));
  background: linear-gradient(#161616, #7b25c2, #161616);
}

section#quote-sec-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(#c225c2), to(#161616));
  background: linear-gradient(#161616, #c225c2, #161616);
}

section#video-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

section#video-sec span {
  font-family: "Sansita Swashed", cursive;
  margin-bottom: 20px;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

section#video-sec video {
  width: 90vw;
}

@media (min-width: 1024px) {
  section#video-sec video {
    width: 1000px;
  }
}

section#poster-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

@media (min-width: 1024px) {
  section#poster-sec {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 30px;
  }
}

section#poster-sec span {
  font-family: "Sansita Swashed", cursive;
  margin-bottom: 20px;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

section#poster-sec img {
  width: 80vw;
  margin: 20px 0;
}

@media (min-width: 1024px) {
  section#poster-sec img {
    width: 500px;
    margin: 0;
    margin-right: 20px;
  }
}

section#poster-sec a {
  color: white;
  text-decoration: none;
  background-color: #7b25c2;
  padding: 10px 20px;
  border-radius: 10px;
}

#poster-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#a-desktop {
  display: none;
}

@media (min-width: 1024px) {
  #a-desktop {
    display: initial;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 1024px) {
  #a-mobile {
    display: none;
  }
}

section#thank-sec {
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#1e648d));
  background: linear-gradient(#161616, #1e648d);
  margin-top: 50px;
  padding: 30px;
  font-family: "Sansita Swashed", cursive;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.15em;
  text-align: center;
}

.love-text span {
  color: #ff6b08;
}

.by-text span {
  color: #eedd44;
}

#main-time-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95vh;
}

#main-time-text #time-text div {
  display: inline;
  font-family: "Saira Stencil One", cursive;
  font-size: 1.3em;
  letter-spacing: 1.5px;
}

#before-aniv {
  display: none;
}

#on-aniv {
  display: none;
}
/*# sourceMappingURL=style.css.map */