* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$tablet: 760px;
$desktop: 1024px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.grad1 {
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.grad1-opp {
    background: linear-gradient(to right, #eedd44, #cf23cf, #ff6b08, #f32170);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.purple {
    color: rgb(243, 154, 255);
}

.pink {
    color: pink;
}

body {
    background-color: rgb(22, 22, 22);
    color: white;

    @include tablet {
        font-size: 1.5em;
    }
}

main {
    // background: url("./cover.jpg") no-repeat center;
    // background-size: cover;
    height: fit-content;
    width: 100vw;
    font-family: "Sansita Swashed", cursive;
    margin-bottom: 1em;

    @include desktop {
        height: 100vh;
        width: 100%;
        background: url("./cover.jpg") no-repeat center -100px;
        background-size: cover;
        position: relative;
    }

    .wish {
        color: white;
        text-align: center;
        padding: 1em;

        @include desktop {
            text-align: unset;
        }
    }

    h1 {
        font-size: 2.4em;
    }

    h1 + h1 {
        font-size: 1.7em;
    }

    #cover-mobile {
        display: flex;
        justify-content: center;
        margin: 1em 0;

        @include desktop {
            display: none;
        }

        img {
            width: 75vw;
            border-radius: 20px;
        }
    }
}

.best {
    color: #e9ff99;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
    transition: 0.25s;

    span {
        font-size: 1.15em;
    }
}

#text {
    @include desktop {
        background: linear-gradient(
            rgba(22, 22, 22, 0),
            rgba(22, 22, 22, 0.644),
            rgb(22, 22, 22)
        );
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 3em;
        padding-bottom: 6em;
    }
}

#static-text {
    display: block;
}

#dynamic-text {
    color: #9affdb;
}

.cursor {
    display: inline-block;
    background-color: white;
    width: 2px;
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    49.9% {
        background-color: white;
    }
    50% {
        background-color: transparent;
    }

    99.9% {
        background-color: transparent;
    }
}

.pic {
    display: flex;
    justify-content: center;
    img {
        width: 75vw;
        border-radius: 20px;

        @include desktop {
            width: 23em;
            margin-right: 3em;
        }
    }
}

section.quote-sec {
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #d4d4d4;
    margin-top: 50px;
    padding: 70px 0;

    @include desktop {
        flex-flow: row;
        align-items: center;
        padding: 70px 3em;
    }

    .quote {
        font-family: "Sansita Swashed", cursive;
        margin: 0 30px;
        margin-top: 32px;
        font-size: 1.2em;
        line-height: 1.5em;
        letter-spacing: 0.15em;
    }
}

section#quote-sec-1 {
    background: linear-gradient(rgb(22, 22, 22), #7b25c2, rgb(22, 22, 22));
}

section#quote-sec-2 {
    background: linear-gradient(rgb(22, 22, 22), #c225c2, rgb(22, 22, 22));
}

section#video-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    span {
        font-family: "Sansita Swashed", cursive;
        margin-bottom: 20px;
        font-size: 1.2em;
        letter-spacing: 0.1em;
    }

    video {
        width: 90vw;

        @include desktop {
            width: 1000px;
        }
    }
}

section#poster-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    @include desktop {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        padding: 30px;
    }

    span {
        font-family: "Sansita Swashed", cursive;
        margin-bottom: 20px;
        font-size: 1.2em;
        letter-spacing: 0.1em;
    }

    img {
        width: 80vw;
        margin: 20px 0;

        @include desktop {
            width: 500px;
            margin: 0;
            margin-right: 20px;
        }
    }

    a {
        color: white;
        text-decoration: none;
        background-color: #7b25c2;
        padding: 10px 20px;
        border-radius: 10px;
    }
}

#poster-text {
    display: flex;
    flex-direction: column;
}

#a-desktop {
    display: none;
    @include desktop {
        display: initial;
        width: fit-content;
    }
}

#a-mobile {
    @include desktop {
        display: none;
    }
}

section#thank-sec {
    background: linear-gradient(rgb(22, 22, 22), #1e648d);
    margin-top: 50px;
    padding: 30px;
    font-family: "Sansita Swashed", cursive;
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: 0.15em;
    text-align: center;
}

.love-text {
    span {
        color: #ff6b08;
    }
}

.by-text {
    span {
        color: #eedd44;
    }
}
