* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grad1 {
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.grad1-opp {
    background: linear-gradient(to right, #eedd44, #cf23cf, #ff6b08, #f32170);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.purple {
    color: rgb(243, 154, 255);
}

.pink {
    color: pink;
}

body {
    background-color: rgb(22, 22, 22);
    color: white;
}

main {
    // background: url("./cover.jpg") no-repeat center;
    // background-size: cover;
    height: fit-content;
    width: 100vw;
    font-family: "Sansita Swashed", cursive;
    margin-bottom: 1em;

    .wish {
        color: white;
        text-align: center;
        padding: 1em;
    }

    h1 {
        font-size: 2.4em;
    }

    h1 + h1 {
        font-size: 1.7em;
    }

    #cover-mobile {
        display: flex;
        justify-content: center;
        margin: 1em 0;

        img {
            width: 75vw;
            border-radius: 20px;
        }
    }
}

.best {
    color: #e9ff99;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
    transition: 0.25s;

    span {
        font-size: 1.15em;
    }
}

#static-text {
    display: block;
}

#dynamic-text {
    color: #9affdb;
}

.cursor {
    display: inline-block;
    background-color: white;
    width: 2px;
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    49.9% {
        background-color: white;
    }
    50% {
        background-color: transparent;
    }

    99.9% {
        background-color: transparent;
    }
}

.pic {
    display: flex;
    justify-content: center;
    img {
        width: 75vw;
        border-radius: 20px;
    }
}

section.quote-sec {
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #d4d4d4;
    margin-top: 50px;
    padding: 70px 0;

    .quote {
        font-family: "Sansita Swashed", cursive;
        margin: 0 30px;
        margin-top: 32px;
        font-size: 1.2em;
        line-height: 1.5em;
        letter-spacing: 0.15em;
    }
}

section#quote-sec-1 {
    background: linear-gradient(rgb(22, 22, 22), #7b25c2, rgb(22, 22, 22));
}

section#quote-sec-2 {
    background: linear-gradient(rgb(22, 22, 22), #c225c2, rgb(22, 22, 22));
}

section#video-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    span {
        font-family: "Sansita Swashed", cursive;
        margin-bottom: 20px;
        font-size: 1.2em;
        letter-spacing: 0.1em;
    }

    video {
        width: 90vw;
    }
}

section#poster-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    span {
        font-family: "Sansita Swashed", cursive;
        margin-bottom: 20px;
        font-size: 1.2em;
        letter-spacing: 0.1em;
    }

    img {
        width: 80vw;
    }
}

section#thank-sec {
    background: linear-gradient(rgb(22, 22, 22), #1e648d);
    margin-top: 50px;
    padding: 30px;
    font-family: "Sansita Swashed", cursive;
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: 0.15em;
}

.love-text {
    span {
        color: #ff6b08;
    }
}

.by-text {
    span {
        color: #eedd44;
    }
}
